.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  background-color: rgba(233, 233, 233, 0.753);
}

.card {
  margin: 50px;
}

.card-img-top {
  height: 200px;
  width: 100%;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-details {
  height: 120px;
}

.card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: grid;
  align-items: end;
  justify-content: start;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 750px) {
  .cards {
    grid-template-columns: auto;
  }
}
