.content {
  background-color: rgba(233, 233, 233, 0.753);
  position: relative;
  width: 100%;
}

.content-text {
  padding-top: 40px;
}

.content-text p {
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.content-program-name {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-top: 40px;
}

.content-program-name h4 {
  display: grid;
  justify-content: center;
}

.content-program-name p {
  padding: 30px;
}
