ul.noedit {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  background-color: rgba(233, 233, 233, 0.753);
  align-items: center;
  height: 60px;
}

.small-device-credits {
  display: none;
}

.credits {
  display: grid;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
  color: rgba(59, 58, 58, 0.938);
  font-weight: bold;
}

.footer-logo {
  display: grid;
  justify-content: end;
}

@media (max-width: 768px) {
  .footer {
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    height: 50px;
  }

  .footer-logo {
    display: grid;
    justify-content: end;
    align-items: center;
  }

  .credits {
    display: grid;
    padding-top: 10px;
  }

  svg {
    height: 20px;
    width: 300px;
  }
}

@media (max-width: 415px) {
  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: rgba(233, 233, 233, 0.753);
    font-size: 10px;
    height: 100px;
  }

  .footer-logo {
    display: grid;
    justify-content: center;
  }

  .small-device-credits {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  .credits {
    display: none;
  }

  svg {
    height: 20px;
    width: 200px;
  }
}
