ul.noedit {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: rgba(233, 233, 233, 0.753);
  align-items: center;
}

p.credits {
  color: rgba(59, 58, 58, 0.938);
  text-align: center;
  padding-right: 30px;
}

.footer-logo {
  display: grid;
  justify-content: end;
  padding-right: 30px;
}

@media (min-width: 600px) {
  .footer {
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    height: 100px;
  }

  .footer-logo {
    display: grid;
    justify-content: end;
  }

  svg {
    height: 20px;
    width: 300px;
  }
}

@media (min-width: 400px) {
  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: rgba(233, 233, 233, 0.753);
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    height: 100px;
  }

  .footer-logo {
    display: grid;
    justify-content: center;
    padding-right: 10px;
  }

  svg {
    height: 20px;
    width: 300px;
  }
}
