html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  display: grid;
}

.vedio {
  width: 100%;
  position: absolute;
}

.cover-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  height: 480px;
}

.cover-slogan {
  justify-content: center;
  align-items: end;
  display: grid;
  color: rgba(255, 255, 255, 0.795);
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
}

@media (max-width: 1025px) {
  .cover-wrapper {
    height: 390px;
  }
}

@media (max-width: 768px) {
  .cover-wrapper {
    height: 300px;
  }

  .cover-slogan {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 415px) {
  .cover-wrapper {
    height: 230px;
  }

  .cover-slogan {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .cover-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 210px;
  }

  .cover-slogan {
    justify-content: center;
    align-items: end;
    display: grid;
    color: rgba(255, 255, 255, 0.795);
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
  }
}

/* ----------- Navbar ------------- */
@import url("./navbar.css");
/* ----------- Products ------------- */
@import url("./cards.css");
/* ----------- Footer ------------- */
@import url("./footer.css");
/* ----------- Content ------------- */
@import url("./content.css");
/* ----------- Info ------------- */
@import url("./info.css");
