html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  display: grid;
}

.vedio {
  width: 100%;
  position: absolute;
}

.cover-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  height: 435px;
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.logo {
  padding-left: 10px;
}

.menu {
  display: none;
}

.nav-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.nav-items a {
  color: rgba(107, 138, 179, 0.918);
  font-size: 10px;
  font-weight: bold;
}

.cover-slogan {
  justify-content: center;
  align-items: end;
  display: grid;
  color: rgba(255, 255, 255, 0.795);
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
}

@media (max-width: 768) {
  .nav-content {
    display: none;
  }

  .menu {
    display: grid;
    justify-content: end;
  }

  .menu a {
    font-size: 5px;
  }

  .cover-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 432px;
  }

  .cover-slogan {
    justify-content: center;
    align-items: center;
    display: grid;
    color: rgba(255, 255, 255, 0.795);
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
  }
}

@media (max-width: 415px) {
  .nav-content {
    display: none;
  }

  .menu {
    display: grid;
    justify-content: end;
  }

  .cover-wrapper {
    height: 230px;
  }

  .cover-slogan {
    font-size: 20px;
  }

  .logo svg {
    height: 20px;
    width: 200px;
  }
}

@media (max-width: 380px) {
  .nav-content {
    display: none;
  }

  .menu {
    display: grid;
    justify-content: end;
  }

  .cover-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 210px;
  }

  .cover-slogan {
    justify-content: center;
    align-items: end;
    display: grid;
    color: rgba(255, 255, 255, 0.795);
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
  }

  .logo svg {
    height: 18px;
    width: 180px;
  }
}

/* ----------- Products ------------- */
@import url("./cards.css");
/* ----------- Footer ------------- */
@import url("./footer.css");
/* ----------- Content ------------- */
@import url("./content.css");
/* ----------- Info ------------- */
@import url("./info");
