.nav {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.logo {
  display: grid;
  justify-content: start;
  padding-left: 50px;
}

.menu {
  display: none;
}

.nav-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.nav-items a {
  color: rgba(107, 138, 179, 0.918);
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-content {
    display: none;
  }

  .logo {
    padding-left: 0px;
  }

  .menu {
    display: grid;
    justify-content: end;
    position: sticky;
  }

  .dropdown-menu {
    background-color: #00000045;
  }

  .dropdown-menu a {
    color: rgba(233, 233, 233, 0.863);
    font-weight: bold;
    font-size: 15px;
  }
}

@media (max-width: 415px) {
  .logo {
    padding-left: 10px;
  }

  .logo svg {
    height: 20px;
    width: 200px;
  }
}

@media (max-width: 380px) {
  .logo svg {
    height: 18px;
    width: 180px;
  }
}
